@model CadeMeuMedico.ViewModels.MedicosViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/Selectize/js/standalone/selectize.js"></script>
<link rel="stylesheet" href="~/Content/Selectize/css/selectize.bootstrap3.css">
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medicos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDMedico)
        <div class="form-group">
            @Html.LabelFor(model => model.CRM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CRM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
                <span id="unique-error-cnpj"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AtendePorConvenio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AtendePorConvenio)
                    @Html.ValidationMessageFor(model => model.AtendePorConvenio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemClinica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TemClinica)
                    @Html.ValidationMessageFor(model => model.TemClinica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WebsiteBlog, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebsiteBlog, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebsiteBlog, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IDCidade, new List<SelectListItem>(), "", new { @class = "select-editable" })
                @Html.ValidationMessageFor(model => model.IDCidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDEspecialidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control select-especialidade" id="IDEspecialidade" name="IDEspecialidade">
                    @foreach (var especialidade in ViewBag.especialidades)
                    {
                        <option @(Model.IDEspecialidade == @especialidade.IDEspecialidade ? "selected" : "") value="@especialidade.IDEspecialidade">@especialidade.Nome</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.IDEspecialidade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Adicionar Especialidade" data-id="@Model.IDMedico" class="btn btn-default edit" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="modal" id="modal">

</div>

<script>
    $(function () {
        $(".edit").click(function () {
            var id = $(this).attr("data-id");
            var url = window.location.origin + "/Especialidades/Create";
            $("#modal").load(url, function () {
                $("#modal").modal();
            })
        });
    })
</script>

<script>
    $('.select-editable').each(function (index) {

        var selectize = $(this).selectize({
            create: false,
            sortField: {
                field: 'text',
                direction: 'asc',
            },
            hideSelected: false,
        });

        var input = selectize[0].selectize.$control_input[0];

        selectize[0].selectize.on("type", function (data) {
            selectize[0].selectize.addOption({ value: 1, text: 'foo' });
            selectize[0].selectize.addOption({ value: 11, text: 'foof' });
            selectize[0].selectize.addOption({ value: 12, text: 'foof' });
            selectize[0].selectize.addOption({ value: 13, text: 'foof' });
            selectize[0].selectize.addOption({ value: 14, text: 'foof' });
            selectize[0].selectize.addOption({ value: 15, text: 'foof' });
            selectize[0].selectize.addOption({ value: 16, text: 'foof' });
            selectize[0].selectize.addOption({ value: 17, text: 'foof' });
            selectize[0].selectize.addOption({ value: 18, text: 'foof' });
            selectize[0].selectize.addOption({ value: 19, text: 'foof' });
            selectize[0].selectize.addOption({ value: 20, text: 'foof' });
            selectize[0].selectize.addOption({ value: 21, text: 'foof' });
            selectize[0].selectize.addOption({ value: 22, text: 'foof' });
            selectize[0].selectize.addOption({ value: 23, text: 'foof' });
            selectize[0].selectize.addOption({ value: 25, text: 'foof' });
        })
    });


    document.getElementById("CRM").focusout = function () { verifyUniqueCNPJ() };

    function verifyUniqueCNPJ() {
        var CNPJ = document.getElementById("CRM").value;
        var noMaskValue = CNPJ.replace("/", "").replace('.', '').replace('.', '').replace("-", "");
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        var urlCheck = baseUrl + "/CheckUnique";

        var result = true;
        $.ajax({
            url: urlCheck,
            method: "GET",
            data: { CNPJ: noMaskValue },
            success: function (data) {
                result = data;
                if (data) {
                    var cnpj_error_elemen = document.getElementById("CNPJ-error");
                    if (cnpj_error_elemen !== null) {
                        document.getElementById("CNPJ-error").innerHTML = "Deve ser um CNPJ Único";
                    } else {
                        var span = document.getElementById("unique-error-cnpj");
                        span.className = "text-danger";
                        span.innerHTML = "Deve ser um CNPJ Único";
                    }
                } else {
                    var span = document.getElementById("unique-error-cnpj");
                    span.innerHTML = "";
                }
            },
            error: function (data) {
            }
        });
        return result;
    }

</script>
